{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Add Contact{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="col-lg-12">
        <div class="text-right">
            <a href="{% url 'view_clin_pers' %}" class="btn btn-secondary mt-4">View</a>
        </div>
        <div class="text-center text-muted mb-4">
            <h2>Add Clinic Staff Details</h2>
        </div>
        <form method="POST" action="{% url 'add_clin_pers' %}" autocomplete="on" id="contactform">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="Pers_Name">Name of Clinic Staff:</label>
                                    {{ form.Pers_Name|append_attr:"class:form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Pers_License">License No:</label>
                                    {{ form.Pers_License|append_attr:"class:form-control" }}
                                </div>
                            </div>
                        

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Pers_Designation">Designation:</label>
                                    {{ form.Pers_Designation|append_attr:"class:form-control" }}
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Pers_Contact">Contact No:</label>
                                    {{ form.Pers_Contact|append_attr:"class:form-control" }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="Pers_Email">Email Address:</label>
                                    {{ form.Pers_Email|append_attr:"class:form-control" }}
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
                <a href="{% url 'crf_data' %}" class="btn btn-secondary mt-4">Back</a>
                <button type="button" class="btn btn-success mt-4" onclick="refresh()">Clear</button>
            </div>
        </form>
    </div>
</div>

<script>
    function refresh() {
        document.getElementById("contactform").reset();
    }
</script>
{% endblock content %}